:root {
  --bg-color: #f0f4f8;
  --text-color: #333;
  --input-bg: #fff;
  --input-border: #ccc;
  --button-bg: #4CAF50;
  --button-hover: #45a049;
  --table-header-bg: #f2f2f2;
  --table-border: #ddd;
  --edit-button: #008CBA;
  --delete-button: #f44336;
  --link-color: #0066cc;
  --nav-bg: #f0f0f0;
  --stat-bg: #e0e0e0;
}

.dark-mode {
  --bg-color: #0e1217;
  --text-color: #f0f0f0;
  --input-bg: #333;
  --input-border: #555;
  --button-bg: #45a049;
  --button-hover: #4CAF50;
  --table-header-bg: #2c2c2c;
  --table-border: #444;
  --edit-button: #0099cc;
  --delete-button: #ff5555;
  --link-color: #66b3ff;
  --nav-bg: #25282f;
  --stat-bg: #31343b;
}